In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('train.csv')

PassengerId    891
Survived       891
Pclass         891
Name           891
Sex            891
Age            891
SibSp          891
Parch          891
Ticket         891
Fare           891
Cabin          891
Embarked       891
dtype: int64

In [27]:
def print_fullycomplete_and_percent(df):
    print('количество полностью заполненных объектов ',len(df.dropna()))
    print('процент полностью заполненных объектов из всей выборки ',round(len(df.dropna()) / len(df) * 100, 2 ))
print_fullycomplete_and_percent(df)

количество полностью заполненных объектов  891
процент полностью заполненных объектов из всей выборки  100.0

In [25]:
missing_values_percent = ( (df.isna().sum() / len(df))* 100 ).sort_values(ascending=False)
missing_values_percent

PassengerId    0.0
Survived       0.0
Pclass         0.0
Name           0.0
Sex            0.0
Age            0.0
SibSp          0.0
Parch          0.0
Ticket         0.0
Fare           0.0
Embarked       0.0
dtype: float64

In [19]:
df.Embarked = df.Embarked.fillna('S')
df = df.drop('Cabin', axis=1)
df.Age = df.Age.fillna(df.Age.mean())
df['Sex_code'] = df['Sex'].apply(lambda x : 1 if x == 'male' else 0)
df = df.drop('Name', axis=1)
df = df.drop('Ticket', axis=1)

#===MinMax-нормализация данных  Импортируйте MinMaxScaler из sklearn.preprocessing.
from sklearn.preprocessing import MinMaxScaler
minmax_scaler = MinMaxScaler()
minmax_scaler
minmax_scaler.fit(df[['Age', 'Fare']])
minmax_scaled = minmax_scaler.transform(df[['Age', 'Fare']])
minmax_scaled
df[['Age_scaled', 'Fare_scaled']] = minmax_scaled
df = df.drop('Age', axis=1)
df = df.drop('Fare', axis=1)

def emb_fun(x):
    if x == 'C':
        return 0
    if x == 'S':
        return 1
    if x == 'Q':
        return 2
df['Embark_code'] = df['Embarked'].apply(lambda x : emb_fun(x))
df = df.drop('Embarked', axis=1)

In [26]:
missing_values_percent = ( (df.isna().sum() / len(df))* 100 ).sort_values(ascending=False)
missing_values_percent

PassengerId    0.0
Survived       0.0
Pclass         0.0
Name           0.0
Sex            0.0
Age            0.0
SibSp          0.0
Parch          0.0
Ticket         0.0
Fare           0.0
Embarked       0.0
dtype: float64

In [28]:
print_fullycomplete_and_percent(df)

количество полностью заполненных объектов  891
процент полностью заполненных объектов из всей выборки  100.0

In [65]:
x = df.drop(['Survived'], axis=1)
y = df.Survived

In [67]:
x.head(2)

,PassengerId,Pclass,SibSp,Parch,Sex_code,Age_scaled,Fare_scaled,Embark_code
0,1,3,1,0,1,0.271174,0.014151,1
1,2,1,1,0,0,0.472229,0.139136,0

In [71]:
#=== строим разбиение
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.model_selection import train_test_split 
train_x, test_x, train_y, test_y = train_test_split(x, y, test_size=0.3, random_state=42)

In [72]:
logreg = LogisticRegression()
train_cols = ['Pclass', 'SibSp', 'Parch', 'Sex_code', 'Age_scaled', 'Fare_scaled', 'Embark_code']
logreg.fit(train_x[train_cols], train_y)
pred = logreg.predict(test_x[train_cols])

array([[139,  18],
       [ 32,  79]], dtype=int64)

In [73]:
accuracy_score(test_y, pred)

0.8134328358208955

In [74]:
confusion_matrix(test_y, pred)

array([[139,  18],
       [ 32,  79]], dtype=int64)

In [75]:
x_test = pd.read_csv('test.csv')

In [82]:
x_test = x_test.drop('Sex', axis=1)

In [87]:
x_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   SibSp        418 non-null    int64
 3   Parch        418 non-null    int64
 4   Sex_code     418 non-null    int64
 5   Age_scaled   418 non-null    float64
 6   Fare_scaled  417 non-null    float64
 7   Embark_code  418 non-null    int64
dtypes: float64(2), int64(6)
memory usage: 26.2 KB

In [78]:
x_test.Embarked = x_test.Embarked.fillna('S')
x_test = x_test.drop('Cabin', axis=1)
x_test.Age = x_test.Age.fillna(x_test.Age.mean())
x_test['Sex_code'] = x_test['Sex'].apply(lambda x : 1 if x == 'male' else 0)
x_test = x_test.drop('Name', axis=1)
x_test = x_test.drop('Ticket', axis=1)
x_test = x_test.drop('Sex', axis=1)

#===MinMax-нормализация данных  Импортируйте MinMaxScaler из sklearn.preprocessing.
from sklearn.preprocessing import MinMaxScaler
minmax_scaler = MinMaxScaler()
minmax_scaler
minmax_scaler.fit(x_test[['Age', 'Fare']])
minmax_scaled = minmax_scaler.transform(x_test[['Age', 'Fare']])
minmax_scaled
x_test[['Age_scaled', 'Fare_scaled']] = minmax_scaled
x_test = x_test.drop('Age', axis=1)
x_test = x_test.drop('Fare', axis=1)

def emb_fun(x):
    if x == 'C':
        return 0
    if x == 'S':
        return 1
    if x == 'Q':
        return 2
x_test['Embark_code'] = x_test['Embarked'].apply(lambda x : emb_fun(x))
x_test = x_test.drop('Embarked', axis=1)

x_test.Fare_scaled = x_test.Fare_scaled.fillna(x_test.Fare_scaled.mean())

In [92]:
x_test.set_index('PassengerId', inplace=True)

In [93]:
x_test

,Pclass,SibSp,Parch,Sex_code,Age_scaled,Fare_scaled,Embark_code
PassengerId,,,,,,,
892,3,0,0,1,0.452723,0.015282,2
893,3,1,0,0,0.617566,0.013663,1
894,2,0,0,1,0.815377,0.018909,2
895,3,0,0,1,0.353818,0.016908,1
896,3,1,1,0,0.287881,0.023984,1
...,...,...,...,...,...,...,...
1305,3,0,0,1,0.396975,0.015713,1
1306,1,0,0,0,0.512066,0.212559,0
1307,3,0,0,1,0.505473,0.014151,1
1308,3,0,0,1,0.396975,0.015713,1
1309,3,1,1,1,0.396975,0.043640,0

In [94]:
predicted_test = logreg.predict(x_test)

In [101]:
x_test['result'] = predicted_test

In [105]:
x_test.to_csv('log_kornilovi.csv')

In [106]:
df2 = pd.read_csv('log_kornilovi.csv')

In [109]:
df3 = df2[['PassengerId', 'result']]

In [111]:
df3.to_csv('log_kornilovi_titanic.csv')